.about-content .active-none{
    display: none;
}
.small-nav{
    width: 100%;
    min-width: 1200px;
    height: 46px;
    background: #ffd34b;
}
.small-nav ul{
    float: right;
    margin-right: 188px;
}
.small-nav ul li{
    float: left;
}
.small-nav ul li a{
    margin: 0 22px;
    display: block;
    height: 46px;
    line-height:46px;
    font-size: 16px;
    color: #c6a53d;
}
.small-nav ul li .active-a{
    color: #746332;
}
.about-content{
    width: 100%;
}
.about-content .introduce{
    width: 100%;
}
.tip{
    font-size: 24px;
    color: #f4531c;
    text-align: center
}
.introduce{
    margin-top: 78px;
}
.introduce-top-one{
    margin-bottom: 23px;
}
.introduce-top-twop{
    font-size: 20px;
    /* font-weight: 600; */
    color: #4c4c4c;
    text-align: center;
}
.introduce-top-two{
    margin-bottom: 78px;
}
.introduce-top-three{
    padding: 0 80px;
    box-sizing:border-box ;
    margin-bottom: 117px;
}
.introduce-top-threel{
    width: 696px;
    float: left;
}
.introduce-top-threel p{
    text-indent: 36px;
    font-size: 18px;
    color: #4c4c4c;
    line-height: 28px;
    margin-bottom: 20px;
}
.introduce-top-threer{
    width:287px;
    height: 356px;
    float: right;
}
.introduce-top-threer img{
    width:287px;
    height: 356px;
}
.banner{
    width: 100%;
    min-width: 1200px;
    height: 338px;
    margin: 0 auto;
    margin-bottom: 42px;
}
.banner  .banner-img{
    width: 100%;
    height: 338px;
    background-image: url(../img/qyyj.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.idea{
    margin-bottom: 100px;
}
.idea-a{
    width: 1076px;
    margin: 0 auto;
}
.join{
    margin-top: 78px;
}
.join-one{
    margin-bottom: 23px;
}
.idea-a img{
    display: block;
    width: 1076px;
    height: 226px;
}
.join-two p{
    font-size: 20px;
    /* font-weight: 600; */
    color: #4c4c4c;
    text-align: center;
}
.join-two{
    margin-bottom: 60px;
}
.join-three-one{
    width:850px;
    margin: 0 auto;
}
.join-three{
    width: 100%;
}
.join-three-one{
    width: 100%;
    margin-bottom: 40px;
}
.join-three-one h3{
    text-align: center;
    font-size: 20px;
    color: #5e5e5e;
    margin-bottom: 25px;
}
.join-three-one .zpjs{
    width: 580px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #767676;
    margin-bottom: 50px;
    line-height: 24px;
}
.join-three-one .recruit{
    width:850px;
    margin:0 auto;
    height: 514px;
    background: #f9f9f9;
    box-sizing: border-box;
    padding: 30px 0;
    position: relative;
}
.join-three-one .recruit ul{
    width: 732px;
    margin: 0 auto;
}
.join-three-one .recruit ul li{
    width: 100%;
    height: 110px;
    cursor: pointer;
    border-bottom: 1px solid #dcdcdc;
}
.join-three-one .recruit ul li:last-child{
    border-bottom:none;
}
.join-three-one .recruit ul li h4{
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    color: #F4531C;
    text-indent: 20px;
}
.join-three-one .recruit ul li p{
    font-size: 16px;
    color: #5e5e5e;
    text-indent: 20px;
}
.join-three-one .recruit #pre{
    width: 25px;
    height: 40px;
    background: url("../img/left.png") no-repeat;
    position: absolute;
    top:50%;
    margin-top: -20px;
    left: -55px;
    cursor: pointer;
}
.join-three-one .recruit #next{
    width: 25px;
    height: 40px;
    background: url("../img/right.png") no-repeat;
    position: absolute;
    top:50%;
    margin-top: -20px;
    right: -55px;
    cursor: pointer;
}
.email{
    text-align: center;
    font-size: 18px;
    color: #1c1c1c;
    margin-bottom: 70px;
}
.join-three-two{
    width: 850px;
    height: 660px;
    margin: 0 auto;
    background: #f9f9f9;
    margin-bottom: 40px;
    padding-top: 45px;
    box-sizing: border-box;
}
.join-three-two .title{
    height: 93px;
    width: 732px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 1px solid #dcdcdc;
}
.title h4{
    font-size: 20px;
    color: #F4531C;
    margin-bottom: 21px;
    position: relative;
    text-indent: 24px;
}
.title p{
    font-size: 16px;
    color: #5e5e5e;
    text-indent: 24px;
}
.title h4 #back{
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top:30%;
    right: -20px;
}
.require{
    width: 732px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 24px;
}
.require1{
    margin-bottom: 20px;
}
.require b{
    font-size: 16px;
    color: #3d3d3d;
    line-height: 30px;
}
.require p{
    font-size: 16px;
    color: #3d3d3d;
    line-height: 30px;
}
.contact-b{
    padding-top: 76px;
    margin-bottom: 133px;
}
.contact-b-one{
    margin-bottom: 23px;
}
.contact-b-two{
    margin-bottom: 60px;
}
.contact-b-two p{
    font-size: 20px;
    color: #4C4C4C;
    text-align: center;
}
.contact-b-three{
    width: 720px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 44px;
    box-sizing: border-box;
}
.contact-b-three p{
    line-height: 50px;
    font-size: 18px;
    position: relative;
    color: #4c4c4c;
}
.contact-b-three p i{
   font-weight: 600;
}
.contact-b-three .tel b{
    display:inline-block;
    width: 22px;
    height: 22px;
    background: url("../img/kfrx.png") no-repeat;
    position: absolute;
    top:50%;
    margin-top: -11px;
    left: -43px;
}
.contact-b-three .website b{
    display:inline-block;
    width: 24px;
    height: 20px;
    background: url("../img/wz.png") no-repeat;
    position: absolute;
    top:50%;
    margin-top: -10px;
    left: -45px;
}
.contact-b-three .address b{
    display:inline-block;
    width: 16px;
    height: 18px;
    background: url("../img/dz.png") no-repeat;
    position: absolute;
    top:50%;
    margin-top: -9px;
    left: -37px;
}
.contact-b-three .tel .mar{
    margin-left: 55px;
}
.contact-b-three p span{
    margin-left: 16px;
}
.contact-b-for{
    width: 720px;
    height: 320px;
    margin: 0 auto;
}
.news{
    padding-top: 76px;
}
.news-one{
    margin-bottom: 23px;
}
.news-two{
    margin-bottom: 54px;
}
.news-two p{
    font-size: 20px;
    color: #4C4C4C;
    text-align: center;
}
.news-threel{
    float: left;
    width: 820px;
    margin-bottom: 131px;
    padding-left: 18px;
    padding-right: 24px;
    border-right: 1px solid #e5e5e5;
}
.news-threel .new-nav{
    width: 100%;
    height:50px;
    border-bottom: 1px solid #f4531c;
    position: relative;
    margin-bottom: 28px;
}
.news-threel .new-nav p{
    float: left;
    font-size: 18px;
    width: 120px;
    height: 50px;
    color: #000;
    line-height: 50px;
    text-align: center;
    background: #bfbfbf;
    cursor: pointer;
}
.news-threel .new-nav p.active-bbb{
    float: left;
    font-size: 18px;
    width: 120px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: #f4531c;
    cursor: pointer;
}
.newcompany,.newindustry{
    width: 100%;

}
.newcompany ul,.newindustry ul{
    width: 100%;
    margin-bottom: 30px;
    height: 710px;
    overflow: hidden;

}
.newcompany ul li,.newindustry ul li{
    width: 100%;
    height: 142px;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding-top: 24px;
    cursor: pointer;
}
.newcompany ul li:last-child{
    border-bottom:none;
}
.newindustry ul li:last-child{
    border-bottom:none;
}
.newcompany ul li .newcompany-t{
    float: left;
    width:85px;
    height: 95px;
    background: #e5e5e5;
    box-sizing: border-box;
    padding-left: 8px;
}
.newindustry ul li .newcompany-t{
    float: left;
    width:85px;
    height: 95px;
    background: #e5e5e5;
    box-sizing: border-box;
    padding-left: 8px;
}
.newcompany ul li .newcompany-c{
    float: right;
    width:680px;
    height: 95px;
    margin-right: 12px;
}
.newindustry ul li .newcompany-c{
    float: right;
    width:680px;
    height: 95px;
    margin-right: 12px;
}
.newcompany-t .time-one p{
    font-size: 30px;
    font-weight: 600;
    color:#F4531C ;
    height: 50px;
    line-height: 50px;
}
.newcompany-t .time-two p{
    font-size: 16px;
    color:#4c4c4c ;
}
.newcompany-c h3{
    font-size: 20px;
    color: #4c4c4c;
}
.newcompany-c p{
    font-size: 16px;
    height: 65px;
    overflow: hidden;
    color: #626262;
}
.news-threer{
    float: right;
    width: 330px;
    height: 540px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 48px;
}
.pull{
    width: 790px;
    height: 53px;
    background: #eeeeee;
    text-align: center;
    line-height: 53px;
    cursor: pointer;
}
.pull .pu{
    display: inline-block;
    width:26px ;
    height: 16px;
    background: url("../img/pull.png") no-repeat;
}
.pull:hover .pu{
    background: url("../img/pullactive.png") no-repeat;
}
.news-threer img:first-child{
    margin-bottom: 20px;
}
.newdetail{
    width: 100%;
    box-sizing: border-box;
    padding-top: 100px;
}
.newdetail .bt h3{
    font-size: 22px;
    text-align: center;
    color: #4c4c4c;
}
.newdetail .bt{
    margin-bottom: 18px;
}
.newdetail .time p{
    font-size: 16px;
    text-align: center;
    color: #626262;
}
.newdetail .time{
    padding-bottom: 73px;
    margin-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.detail-content{
    padding: 0 100px;
    box-sizing: border-box;
    padding-bottom: 100px;
}
.detail-content p{
    font-size: 18px;
    text-indent: 36px;
    color: #626262;
    line-height: 30px;
    margin-bottom: 20px;
}
.back-a{
    position: absolute;
    bottom: 16px;
    color: #626262;
}
.back-a span{
    cursor: pointer;
    font-size: 12px;
}
.back-a span:hover{
    color: #F4531C;
}












































































































