/*banner start*/
.banner{
    width: 100%;
    min-width:1200px ;
    height: 468px;
    margin: 0 auto;
    position: relative;
}
.banner .banner-list{
	width: 100%;
	min-width:1200px ;
	height: 468px;
	position: absolute;
}
.banner .banner-list li{
	width: 100%;
	min-width:1200px ;
	height: 468px;
	position: absolute;
	left: 0;
	top: 0;
}
.banner .banner-list li img{
	display: block;
	width: 100%;
	min-width: 1200px;
	height: 468px;
}

.banner .banner-leftImg{
	position: absolute;
	top: 45%;
	left: 5%;
	border: 0;
	background: none;
}
.banner .banner-rightImg{
	position: absolute;
	top: 45%;
	right: 5%;
	border: 0;
	background: none;
}
/*.banner  .banner-img{
    width: 100%;
    height: 468px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;

}
.banner  .banner-img .banner-img-l{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background: #fa5a4a;
}
.banner  .banner-img .banner-img-r{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top:0;
    background: #f62615;
}
.banner  .banner-img img{
    display: block;
    width:1200px;
    height: 459px;
    position: absolute;
    left: 50%;
    top:0;
    margin-left: -600px;
    z-index: 10;
}*/
/*banner end*/

/*one start*/
.one .advantage{
    width: 100%;
    margin-top: 62px;
}
.one .advantage .cap-one{
    margin-bottom: 23px;
}
.tip{
     font-size: 24px;
     color: #f4531c;
     text-align: center;
     /*font-family:Nunito-Regular;*/
 }
.one .advantage .cap-two{
    margin-bottom: 57px;
}
.one .advantage .cap-two p{
    font-size: 20px;
    /*font-weight: 600;*/
    color: #4c4c4c;
    text-align: center;
}
.one .advantage .cap-three{
    height: 170px;
    padding-bottom: 60px;
}
.one .advantage .cap-three ul{
    width: 100%;
    /*display: flex;*/
}
.one .advantage .cap-three ul li{
    /*flex: 1;*/
    width: 240px;
    text-align: center;
    float: left;
}
.one .advantage .cap-three .order-b{
    margin-top: 30px;
}
.one .advantage .cap-three p{
    font-size: 18px;
    text-align: center;
    color: #626262;
    /*font-family:SourceHanSansCN-Regular;*/
}
/*one end*/

/*two start*/
.two{
    /*background: #ffd34b;*/
    background-image: url("../img/myservice.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;

    min-width: 1200px;
    width: 100%;
    padding: 74px 0 40px 0;
}
.two .server{
    width: 100%;
}
.two .server .server-one{
    margin-bottom: 15px;
}
.two .server .server-two{
    margin-bottom: 90px;
}
.two .server .server-two p{
    font-size: 20px;
    /*font-weight: 600;*/
    color: #4C4C4C;
    text-align: center;
}
.two .server .server-three{
    width: 100%;
    height: 380px;
    margin-bottom: 40px;
}
.two .server .server-three .server-three-one{
    text-align: left;
    padding-left: 35px;
    box-sizing: border-box;
}
.two .server .server-three ul{
    width: 100%;
}

.two .server .server-three ul li{
    float:left;
    margin-right: 20px;
    background: #fff;
}
.two .server .server-three ul li .icon{
    height: 78px;
    line-height: 78px;
    font-size: 24px;
    /*color: #1b1b1b;*/
    color: #f4531c;
    position: relative;
}
/*.two .server .server-three ul li .icon .sjx{*/
    /*position: absolute;*/
    /*left: -32px;*/
    /*top:14px;*/
    /*display: block;*/
    /*width: 12px;*/
    /*height: 14px;*/
    /*background: url("../img/sjx.png") no-repeat;*/
/*}*/
.two .server .server-three ul li p{
    width: 280px;
    height: 290px;
    font-size: 16px;
    box-sizing: border-box;
    padding:0px 35px 0 35px ;
    color: #626262;
}
.two .server .server-three ul li .bg1{
    background: url("../img/phone.png") no-repeat center bottom;
}
.two .server .server-three ul li .bg2{
    background: url("../img/jdbx.png") no-repeat center bottom;
}
.two .server .server-three ul li .bg3{
    background: url("../img/jjbd.png") no-repeat center bottom;
}
.two .server .server-three ul li .bg4{
    background: url("../img/jjmt.png") no-repeat center bottom;
}
.server-four{
    width: 100%;
    text-align: center;
}
.server-four #place-order{
    width:200px;
    height: 60px;
    background: #ff5e26;
    border: none;
    border-radius: 41px;
    outline-style:none;
    color: #fff;
    font-size: 24px;
}
/*two end*/

/*three start*/
/*.three{*/
    /*padding-top: 40px;*/
/*}*/
/*.three .repair-one{*/
    /*margin-bottom: 15px;*/
/*}*/
/*.three .repair-two{*/
    /*margin-bottom: 50px;*/
/*}*/
/*.three .repair-two p{*/
    /*font-size: 24px;*/
    /*!*font-weight: 600;*!*/
    /*color: #1c1c1c;*/
    /*text-align: center;*/
/*}*/
/*.repair-three{*/
    /*height: 400px;*/
    /*margin-bottom: 26px;*/
/*}*/
/*.repair-three ul li{*/
    /*box-sizing: border-box;*/
    /*width: 235px;*/
    /*height: 400px;*/
    /*border: 2px solid #ffb9a0;*/
    /*border-radius: 10px;*/
    /*float: left;*/
    /*margin-right: 6px;*/
/*}*/
/*.repair-three ul li:last-child{*/
    /*margin-right: 0;*/
/*}*/
/*.repair-three .repair-three-one{*/
    /*width: 100%;*/
    /*height: 205px;*/
    /*text-align: center;*/
    /*line-height: 206px;*/
/*}*/
/*.repair-three .repair-three-two{*/
    /*padding:0 50px;*/
    /*margin-bottom: 10px;*/
/*}*/
/*.repair-three .repair-three-two p{*/
    /*font-size: 30px;*/
    /*text-align: center;*/
    /*color: #262626;*/

/*}*/
/*.repair-three .repair-three-three p{*/
    /*font-size: 18px;*/
    /*text-align: center;*/
    /*color: #5b5b5b;*/
/*}*/
/*.repair-four{*/
    /*width: 100%;*/
    /*height: 250px;*/
    /*margin-bottom: 60px;*/
    /*background: url("../img/zmbg.png") no-repeat;*/
/*}*/
/*.repair-four div{*/
    /*float: left;*/
/*}*/
/*.repair-four .repair-four-left{*/
    /*width: 720px;*/
    /*height: 250px;*/
    /*box-sizing: border-box;*/
    /*padding:90px 0 0 80px ;*/
/*}*/
/*.repair-four .repair-four-left .tt{*/
    /*font-size: 48px;*/
    /*color: #fefefe;*/
    /*font-family: FZY4JW-GB1-0;*/
/*}*/
/*.repair-four .repair-four-left .bb{*/
    /*font-size: 36px;*/
    /*color: #fefefe;*/
    /*font-family: FZY4JW-GB1-0;*/
/*}*/
/*.repair-four .repair-four-right{*/
    /*width: 480px;*/
    /*height: 250px;*/
/*}*/
/*.repair-four .repair-four-right .box{*/
    /*width: 240px;*/
    /*height: 100px;*/
    /*text-align: center;*/
    /*margin-left: 120px;*/
    /*margin-top: 80px;*/
/*}*/
/*.repair-four .repair-four-right button{*/
    /*width:240px;*/
    /*height: 72px;*/
    /*background: #fff;*/
    /*border: none;*/
    /*border-radius: 36px;*/
    /*outline-style:none;*/
    /*color: #ff5e26;*/
    /*font-size: 30px;*/
    /*margin-bottom: 10px;*/
    /*font-family:SourceHanSansCN-Regular;*/
/*}*/
/*.repair-four .repair-four-right span{*/
    /*font-size: 20px;*/
    /*color: #fff;*/
    /*font-family:SourceHanSansCN-Regular;*/
/*}*/
/*!*three end*!*/

/*!*four start*!*/
/*.four{*/
    /*width: 100%;*/
    /*height: 620px;*/
    /*margin-bottom: 77px;*/
/*}*/
/*.aboutme div{*/
    /*float: left;*/
/*}*/
/*.aboutour{*/
    /*width: 446px;*/
    /*height: 620px;*/
    /*box-sizing: border-box;*/
    /*padding: 0 0 0 50px;*/
/*}*/
/*.aboutour div{*/
    /*width: 100%;*/
/*}*/
/*.aboutour .aboutme-one p{*/
    /*font-size: 34px;*/
    /*color: #f4531c;*/
    /*font-family:Nunito-Regular;*/
/*}*/
/*.aboutour .aboutme-two{*/
    /*margin-bottom: 70px;*/
/*}*/
/*.aboutour .aboutme-two p{*/
    /*font-size: 24px;*/
    /*!* font-weight: 600; *!*/
    /*color: #1c1c1c;*/
/*}*/
/*.aboutour .aboutme-three p{*/
    /*font-size: 20px;*/
    /*color: #6b6b6b;*/
    /*margin-bottom:30px;*/
/*}*/
/*.aboutour .aboutme-three{*/
    /*position: relative;*/
/*}*/
/*.aboutour .aboutme-three .border-four{*/
    /*width: 468px;*/
   /*height: 472px;*/
    /*position: absolute;*/
    /*left: -50px;*/
    /*top:-44px;*/
    /*border: 6px solid #ff873e;*/
/*}*/
/*.aboutour .aboutme-three .border-four .join{*/
    /*position: absolute;*/
    /*right: -25px;*/
    /*bottom:38px;*/
    /*width:193px;*/
    /*height: 76px;*/
    /*background: url("../img/join.png") no-repeat;*/
    /*text-align: center;*/
    /*line-height: 70px;*/
    /*font-size: 24px;*/
    /*color: #fff;*/
    /*cursor: pointer;*/
/*}*/
/*.new{*/
    /*width: 754px;*/
    /*height: 620px;*/
    /*padding: 35px 0 0 125px;*/
    /*box-sizing: border-box;*/
    /*background: #f5f5f5;*/
/*}*/
/*.new ul li{*/
    /*float: left;*/
    /*text-align: center;*/
/*}*/
/*.new ul li .news{*/
    /*display: block;*/
    /*font-size: 24px;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    /*color: #767676;*/
    /*margin: 0 90px;*/
    /*margin-bottom: 44px;*/
    /*border-bottom: 4px solid #f5f5f5;*/
/*}*/
/*.new ul li .active-two{*/
    /*color: #fc5921;*/
    /*border-bottom: 4px solid #fc5921;*/
/*}*/
/*.new .new-two{*/
    /*display: none;*/
/*}*/
/*.new .new-one,.new .new-two{*/
    /*width: 100%;*/
    /*height: 450px;*/
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
    /*!*隐藏滚动条，当IE下溢出，仍然可以滚动*!*/
    /*-ms-overflow-style:none;*/
/*}*/
/*.new .new-one::-webkit-scrollbar {!*滚动条整体样式*!*/
     /*width: 0px;     !*高宽分别对应横竖滚动条的尺寸*!*/
 /*}*/
/*.new .new-one::-webkit-scrollbar-thumb {!*滚动条里面小方块*!*/
    /*border-radius: 0px;*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    /*background: #ededed;*/
/*}*/
/*.new .new-two::-webkit-scrollbar {!*滚动条整体样式*!*/
    /*width: 0px;     !*高宽分别对应横竖滚动条的尺寸*!*/
/*}*/
/*.new .new-two::-webkit-scrollbar-thumb {!*滚动条里面小方块*!*/
    /*border-radius: 0px;*/
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    /*background: #ededed;*/
/*}*/
/*.new .new-one ul,.new .new-two ul{*/
    /*overflow-y: auto;*/
/*}*/
/*.new .new-one ul li,.new .new-two ul li{*/
    /*cursor: pointer;*/
/*}*/
/*.new .new-one ul li h3,.new .new-two ul li h3{*/
    /*width: 390px;*/
    /*float: left;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*font-size: 24px;*/
    /*text-align: left;*/
    /*color: #767676;*/
    /*margin-bottom: 15px;*/
/*}*/
/*.new .new-one ul li,.new .new-two ul li{*/
    /*width: 90%;*/
    /*margin-bottom: 20px;*/
    /*border-bottom: 1px solid #6b6b6b;*/
/*}*/
/*.new .new-one ul li span,.new .new-two ul li span{*/
    /*float: right;*/
    /*font-size: 18px;*/
    /*height: 46px;*/
    /*line-height: 46px;*/
    /*color: #767676;*/
/*}*/
/*.new .new-one ul li p,.new .new-two ul li p{*/
    /*width: 490px;*/
    /*height: 38px;*/
    /*line-height: 38px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*font-size: 18px;*/
    /*text-align: left;*/
    /*color: #6b6b6b;*/
/*}*/

/*four end*/

/*three start*/
.three{
    width: 100%;
    min-width: 1200px;
    padding-top: 76px;
    background: #fff;
}
.three .aboutme-two{
    margin-bottom: 68px;
}
.three .aboutme-two p{
    font-size: 20px;
    color: #4C4C4C;
    text-align: center;
}
.three .aboutme-one{
    margin-bottom: 23px;
}
.three .aboutme-three{
    height: 462px;
}
.three .aboutme-three .aboutour{
    width: 620px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    height: 314px;
    border:1px solid #f4531c;
    margin-left: 78px;
}
.three .aboutme-three .aboutour .dwt{
    width: 480px;
    height: 335px;
    position: absolute;
    right:-450px;
    top:16px;
}
.three .aboutme-three .aboutour .dwt img{
    display: block;
    width: 480px;
    height: 335px;
}
.three .aboutme-three .aboutour .join{
    position: absolute;
    left: 86px;
    bottom:-38px;
    width:193px;
    height: 76px;
    background: url("../img/join.png") no-repeat;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.three .aboutme-three .aboutour p{
    color: #626262;
    font-size: 18px;
    line-height: 25px;
    text-indent: 35px;
    margin-bottom: 30px;
}
/*three end*/

/*four start*/
.four{
    width: 100%;
    min-width: 1200px;
    height: 470px;
    box-sizing: border-box;
    padding-top: 69px;
    background: #f9f9f9;
}
.four .new-one{
    margin-bottom: 40px;
}
.four .new-two{
    width: 834px;
    height: 241px;
    margin: 0 auto;
}
.four .new-two div{
    float: left;
}
.four .new-two .new-img{
    width: 272px;
    height: 241px;
    margin-right: 30px;
    background-color:#ccc;
}
.four .new-two .new-img img{
    display: block;
    width: 272px;
    height: 241px;
}
.four .new-two .new{
    width: 532px;
    height: 241px;
}
.new .new-nav{
    width: 100%;
    height:50px;
    border-bottom: 1px solid #f4531c;
   position: relative;
}
.new .new-nav p{
    float: left;
    font-size: 18px;
    width: 120px;
    height: 50px;
    color: #000;
    line-height: 50px;
    text-align: center;
    background: #bfbfbf;
    cursor: pointer;
}
.new .new-nav p.active{
    float: left;
    font-size: 18px;
    width: 120px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: #f4531c;
    cursor: pointer;
}
.new .new-nav span{
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 24px;
    color: #f4531c;
}
.news .news-two{
    display: none;
}
.news-one,.news-two{
    width: 100%;
    height: 190px;
    overflow: hidden;
    overflow-y: auto;
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style:none;
}
.news .news-one::-webkit-scrollbar {/*滚动条整体样式*/
    width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/
}
.news .news-one::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ededed;
}
.news .news-two::-webkit-scrollbar {/*滚动条整体样式*/
    width: 0px;     /*高宽分别对应横竖滚动条的尺寸*/
}
.news .news-two::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ededed;
}
.news .news-one ul,.news .news-two ul{
    overflow-y: auto;
}
.news .news-one ul li,.news .news-two ul li{
    cursor: pointer;
}
.news .news-one ul li h3,.news .news-two ul li h3{
    width: 532px;
    height: 60px;
    line-height: 60px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    color: #2e2e2e;
}
.news .news-one ul li span,.news .news-two ul li span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #2e2e2e;
    margin-right: 10px;
}
.news .news-one ul li,.news .news-two ul li{
    width: 90%;
    height: 60px;
}
/*four end*/

/*five start*/
.five .partner{
    padding-top: 76px;
}
.five .partner .partner-one{
    margin-bottom: 15px;
}
.five .partner .partner-two{
    margin-bottom: 50px;
}
.five .partner .partner-two p{
    font-size: 20px;
    color: #4C4C4C;
    text-align: center;
}
.partner-three{
    width: 100%;
    height: 119px;
    position: relative;
    margin-bottom: 88px;
    padding-left: 60px;
    box-sizing: border-box;
}
#lb li{
    width: 251px;
    height: 119px;
    float: left;
    margin-right: 24px;
}
#lb{
    /*margin-left: 60px;*/
}
#lb li:last-child{
    margin-right:0;
}
#lb li img{
    display: block;
    width: 251px;
    height: 119px;
}
#prev{
    width: 25px;
    height: 40px;
    background: url("../img/left.png") no-repeat;
    position: absolute;
    left: 0;
    top:40px;
    cursor: pointer;
}
#next{
    width: 25px;
    height: 40px;
    background: url("../img/right.png") no-repeat;
    position: absolute;
    right: 0;
    top:40px;
    cursor: pointer;
}
.four .new-two .new-img img.yc{
    display: none;
}
/*five end*/















